body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



 .text {
    text-align: center
    
 }
 p {
    color: #900C3F;
 }
 ul {
    color: #900C3F;
 }